In [3]:
import pandas as pd
import numpy as np

In [5]:
a = pd.read_csv(r'C:/Users/Brian/Desktop/Batting.csv')

In [6]:
a.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

In [38]:
b = a[['teamID','HR','G']]
c = b.groupby(by=['teamID']).sum()
c['HR_NORM'] = c['HR']/c['G']
x = c.sort_values(by='HR_NORM', ascending=False)
x.head(30)

           HR       G   HR_NORM
teamID
ML1      2230   25195  0.088510
COL      4324   55505  0.077903
MIL      3354   43898  0.076404
TOR      6636   87214  0.076089
TEX      7270   98699  0.073658
ANA      1324   18056  0.073327
BAL      9845  134569  0.073159
ARI      3177   43559  0.072936
NYA     15401  217613  0.070772
SEA      6199   87859  0.070556
TBA      3039   43277  0.070222
OAK      7607  108956  0.069817
ATL      7657  111375  0.068750
LAA      2432   36156  0.067264
FLO      2816   42845  0.065725
SFN      8478  129015  0.065713
ML4      3664   57594  0.063618
MIN      7593  121999  0.062238
LAN      7790  128576  0.060587
DET     13371  222605  0.060066
BOS     13091  221255  0.059167
NYN      7035  120351  0.058454
WS2      1387   23741  0.058422
CAL      3912   67324  0.058107
WAS      2205   38929  0.056642
HOU      6734  118927  0.056623
MON      4381   78217  0.056011
CLE     12518  223843  0.055923
KCA      5760  103427  0.055691
KC1      1480   26908  0.055002